<center><h1 style="font-family:Trebuchet MS"> ITEC 3040 Assignment #2</h1></center>
<center><h3 style="font-family:Trebuchet MS">Han Song Wang </h3></center>
<center><h3 style="font-family:Trebuchet MS">216527582 </h3></center><br>

![2](https://i.imgur.com/kUKpicv.png)

## 1.a

I would modify it so that the "count" is included in calculations as well as taken into consideration when determining the most common class.

<hr>

## 1.b

salary = 26K...30K:
                    junior
       = 21K...35K:
                    junior
       = 36K...40K:
                    senior
       = 41K...45K:
                    junior
       = 46K...50K (department = secretary:
                                           junior
                               = sales:
                                           senior
                               = systems:
                                           junior
                               = marketing:
                                           senior)
       = 66K...70K:
                  senior)

<hr>

## 1.c

Given values “systems”, “26. . . 30”, and “46–50K”, decision tree classification of this tuple would be <b>"junior".</b>

<hr>

## 1.d

<b>Naive Bayesian:</b>

<i>X</i> = (Department = Systems, Age = [26...30], Salary = [46K...50K])

<b>P(X | Senior) = P(Department = Systems | Senior) * P(Age = [26...30] | Senior) * P(Salary = [46K...50K] | Senior) </b><br>

P(X | Senior) = P(2/5) * P(1/10) * P(2/5) 
              = 0.016
<br>

<b>P(X | Junior) = P(Department = Systems | Junior) * P(Age = [26...30] | Junior) * P(Salary = [46K...50K] | Junior) </b><br>

P(X | Junior) = P(2/6) * P(3/6) * P(2/6) 
              = 0.055...
<br>

<b>Therefore, the classification of the tuple would be "Junior" under Naive Bayesian classification</b>
<hr>

<hr>

## 2.a

<b>Please note for this part:</b> I used a file called <b>"seeds_dataset.xlsx" (converted to .csv)</b> which seems to have been replaced with 
<b>"sampledSeeds.csv"</b> at some point after I had already completed this part of the assignment. It was the only data file provided at the time. I then converted the .xlsx file into .csv, hence the import of "seeds_dataset.csv".</b></br>

I'm fairly sure the two files should have the same data within them, however my code kept breaking while using the newer file so I chose not to use it as I didn't have enough time to rewrite everything. I just wanted to explain why I'm using a different file for clarity's sake and hopefully it provides the correct outputs.

In [11]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')

data = pd.read_csv('seeds_dataset.csv', header=None) 

data.columns = ["area", "perimeter", "compactness", "kernel length", "kernel width", "asymmetry coefficient", "kernel groove length", "wheat type"]
data

,area,perimeter,compactness,kernel length,kernel width,asymmetry coefficient,kernel groove length,wheat type
0,15.26,14.84,0.8710,5.763,3.312,2.221,5.220,1
1,14.88,14.57,0.8811,5.554,3.333,1.018,4.956,1
2,14.29,14.09,0.9050,5.291,3.337,2.699,4.825,1
3,13.84,13.94,0.8955,5.324,3.379,2.259,4.805,1
4,16.14,14.99,0.9034,5.658,3.562,1.355,5.175,1
...,...,...,...,...,...,...,...,...
205,12.19,13.20,0.8783,5.137,2.981,3.631,4.870,3
206,11.23,12.88,0.8511,5.140,2.795,4.325,5.003,3
207,13.20,13.66,0.8883,5.236,3.232,8.315,5.056,3
208,11.84,13.21,0.8521,5.175,2.836,3.598,5.044,3
209,12.30,13.34,0.8684,5.243,2.974,5.637,5.063,3

In [12]:
test = [["6.17", "15.38", "0.8588", "5.762", "3.387", "4.286", "5.703"]]
test2 = np.array(test)
test2

array([['6.17', '15.38', '0.8588', '5.762', '3.387', '4.286', '5.703']],
      dtype='<U6')

In [13]:
x = data.iloc[:,: -1].values
y = data.iloc[:,7].values

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=0)

In [15]:
from sklearn.neighbors import KNeighborsClassifier
classifier3 = KNeighborsClassifier(n_neighbors=3, metric='euclidean')
classifier3.fit(X_train, y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=3)

In [16]:
classifier5 = KNeighborsClassifier(n_neighbors=5, metric='euclidean')
classifier5.fit(X_train, y_train)

KNeighborsClassifier(metric='euclidean')

In [17]:
classifier7 = KNeighborsClassifier(n_neighbors=7, metric='euclidean')
classifier7.fit(X_train, y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=7)

In [18]:
pred3 = classifier3.predict(test2)
pred5 = classifier5.predict(test2)
pred7 = classifier7.predict(test2)

In [19]:
print(pred3)

[3]

In [20]:
print(pred5)

[3]

In [21]:
print(pred7)

[3]

<b>Therefore, the classification of the tuple would be "3" when k = 3, 5, 7 and Euclidean distance is in use. They all provide the same value for the classification</b>
<hr>

## 2.b

<hr>

In [22]:
data_copy = data.copy()
data_copy

,area,perimeter,compactness,kernel length,kernel width,asymmetry coefficient,kernel groove length,wheat type
0,15.26,14.84,0.8710,5.763,3.312,2.221,5.220,1
1,14.88,14.57,0.8811,5.554,3.333,1.018,4.956,1
2,14.29,14.09,0.9050,5.291,3.337,2.699,4.825,1
3,13.84,13.94,0.8955,5.324,3.379,2.259,4.805,1
4,16.14,14.99,0.9034,5.658,3.562,1.355,5.175,1
...,...,...,...,...,...,...,...,...
205,12.19,13.20,0.8783,5.137,2.981,3.631,4.870,3
206,11.23,12.88,0.8511,5.140,2.795,4.325,5.003,3
207,13.20,13.66,0.8883,5.236,3.232,8.315,5.056,3
208,11.84,13.21,0.8521,5.175,2.836,3.598,5.044,3
209,12.30,13.34,0.8684,5.243,2.974,5.637,5.063,3

In [23]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler() #default scaling is (0,1) so no need to specify

n_arr = scaler.fit_transform(data)

n_df = pd.DataFrame(n_arr, columns = data.columns)
n_df

,area,perimeter,compactness,kernel length,kernel width,asymmetry coefficient,kernel groove length,wheat type
0,0.440982,0.502066,0.570780,0.486486,0.486101,0.189302,0.345150,0.0
1,0.405099,0.446281,0.662432,0.368806,0.501069,0.032883,0.215165,0.0
2,0.349386,0.347107,0.879310,0.220721,0.503920,0.251453,0.150665,0.0
3,0.306893,0.316116,0.793103,0.239302,0.533856,0.194243,0.140817,0.0
4,0.524079,0.533058,0.864791,0.427365,0.664291,0.076701,0.322994,0.0
...,...,...,...,...,...,...,...,...
205,0.151086,0.163223,0.637024,0.134009,0.250178,0.372635,0.172821,1.0
206,0.060434,0.097107,0.390200,0.135698,0.117605,0.462872,0.238306,1.0
207,0.246459,0.258264,0.727768,0.189752,0.429081,0.981667,0.264402,1.0
208,0.118036,0.165289,0.399274,0.155405,0.146828,0.368344,0.258493,1.0
209,0.161473,0.192149,0.547187,0.193694,0.245189,0.633463,0.267848,1.0

In [24]:
from sklearn import preprocessing
from sklearn import utils

x1 = n_df.iloc[:,: -1].values
y = n_df.iloc[:,7].values
y1 = preprocessing.LabelEncoder() #need to convert continuous to categorical
y2 = y1.fit_transform(y)

In [25]:
X_train, X_test, y_train, y_test = train_test_split(x1, y2, test_size=0.30, random_state=0)

In [26]:
classifier3N = KNeighborsClassifier(n_neighbors=3, metric='euclidean')
classifier3N.fit(X_train, y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=3)

In [27]:
classifier5N = KNeighborsClassifier(n_neighbors=5, metric='euclidean')
classifier5N.fit(X_train, y_train)

KNeighborsClassifier(metric='euclidean')

In [28]:
classifier7N = KNeighborsClassifier(n_neighbors=7, metric='euclidean')
classifier7N.fit(X_train, y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=7)

In [29]:
pred3N = classifier3N.predict(test2)
pred5N = classifier5N.predict(test2)
pred7N = classifier7N.predict(test2)

In [30]:
print(pred3N)

[1]

In [31]:
print(pred5N)

[1]

In [32]:
print(pred7N)

[1]

<b>The classification after min-max normalization is 1, which is the original classifier 3 after normalization. Therefore, technically, there is no difference in classification after min-max normalization.</b>
The reason behind this may be that the change in scaling did not create a large enough difference in magnitude between the original and scaled dataset - leading to no change in the final classification.

<hr>